@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fdfdfd;
}

.flex {
  display: flex;
}

#calculator {
  justify-content: space-around;
  align-items: start;
  height: 100vh;
}

.operators {
  flex-direction: column;
}

button {
  width: 7rem;
  height: 4rem;
  border: 0.5px solid #bfbfbf;
  color: #140f12;
}

.fourthRow .number {
  width: 14rem;
}

.operators .symbol {
  background: #f3934b;
}

.screen {
  margin: 0;
  justify-content: end;
  align-items: center;
  height: 4rem;
  background: #848493;
  color: white;
  font-size: 1.5rem;
  padding-right: 5px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.logo {
  font-size: 40px;
}

.nav-link {
  display: flex;
  gap: 2.5rem;
  font-size: 1.1rem;
  filter: drop-shadow(6px 8px 6px black);
}

.nav-link li {
  list-style: none;
}

/* home */

h1 {
  font-size: 1.8rem;
}

.text-container,
.calculatorWrapper {
  background: #998a74;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 20px 20px 50px 15px grey;
  max-width: 70rem;
}

.calculatorWrapper {
  flex-direction: column;
  justify-content: center;
  min-width: 28rem;
  min-height: 24rem;
  margin-top: 5rem;
  padding: 0;
}

.home-header {
  display: flex;
  justify-content: flex-start;
}

/* app styling */

.App {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
  height: 100vh;
}

/* footer */

.footer-wrapper {
  margin-top: 2.5rem;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

footer p {
  filter: drop-shadow(6px 8px 6px black);
}

.footer-content {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Cairo', sans-serif;
  padding: 0 1rem;
  width: 100%;
}

/* mobile */

@media screen and (max-width: 768px) {
  .App {
    margin: 0 2rem 0 2rem;
  }

  .nav-link {
    padding: 0;
    margin: 0;
  }

  .header {
    flex-direction: column;
  }

  #calculator {
    flex-direction: column;
    align-items: center;
  }

  .calculatorWrapper {
    margin: 0;
  }
}
